
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <!--BOOTSTRAP FİLES-->
    <link rel="stylesheet"  type="text/css" href="/bootstrap/bootstrap.min.css">


    <!--MY CSS FİLES-->
   

    <!--FONT AWESOM-->
    <link rel="stylesheet" href="/fontawesome/font-awesome.css">
    <title>Document</title>



</head>
<body>
    <header id= "global_header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/">Cankat Atbinici</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                <li class="nav-item active">
                  <a class="nav-link" aria-current="page" href="/articles">My Blog</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Home Page</a>
                </li>
                
              
              </ul>
              
            </div>
          </div>
        </nav>
      </header>


     <h1 style="position: relative;">asdasdasdadasd</h1>





  
      <!--JQUERY AND SCRİPTS-->
      <script src="/jquery/jquery.js"></script>
      <script src="/myscript/script.js"></script>

    
    
</body>
</html>