
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <!--BOOTSTRAP FİLES-->
      <link rel="stylesheet"  type="text/css" href="/bootstrap/bootstrap.min.css">


      <!--MY CSS FİLES-->
     
  
      <link rel="stylesheet" href="/stylecss/digitalExecute.css"
      <!--FONT AWESOM-->
      <link rel="stylesheet" href="/fontawesome/font-awesome.css">
</head>


<body>
    
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Cankat Atbinici</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto mb-2 mb-md-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="/articles">My Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Home Page</a>
            </li>
            
          
          </ul>
          
        </div>
      </div>
    </nav>
  </header>




    <div class="row" id="ads_area_front_page">
        <div class="col col-md-12" id="welcome_dijital_execute_page">

            <div id="digital_world_message"> 
              <p>We All Live in Digital World</p>
            </div>

        </div>

    </div>

    <div class="row">
      <div class="col col-md-12" id="consultant_contact_me_div">

        <p> <a href="#" style="color: white;"> Click Here And Submit for Dijital World Consultansy</a></p>
      </div>
    </div>

    <div class="card mb-12" id="digital_execute_card1">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://www.moonworkshop.com/img/Dijital-Pazarlama-Strateji.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Dijital Marketing and Dijital Execute</h5>
            <p class="card-text">I have experiance on digital platform of different companies in different sectors.
               After graduated Communication Faculty primarilly worked as a dijital media manager. 
               İn a term satisfied about directoring of dijital platform and all tools of company thats are about dijital platforms  
               I realized dont want to be active in this position. And I left! 
               <br> <br>
               I can be benefit your dijital media operations as a consultant but dont want to work with technical tools active. 
               İn the other side I want to share my experiences and knowladge about social platforms and their algoritms. 
               İn this case in the long term this page will be fulled by my writes about social platforms. 
               My passion is create something by write. Novel or code is, does not matter. 
              
              </p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>


   

    















     <!--JQUERY AND SCRİPTS-->
     <script src="/jquery/jquery.js"></script>
     <script src="/myscript/digitalexecute.js"></script>
    
</body>
</html>