<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!--CSS FİLES ADDED-->
    <link rel="stylesheet" type="text/css" href="stylecss/developer.css">
    <link rel="stylesheet" type="text/css" href="stylecss/style.css">
    <link rel="stylesheet" type="text/css" href="stylecss/wordpressPAge.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.min.css">
    


    <title>Document</title>
</head>

<body>


    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Cankat Atbinici</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                        <li class="nav-item active">
                            <a class="nav-link" aria-current="page" href="/articles">My Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home Page</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>



    <main>
        <div class="row">
            <div class="col col-md-12">
                <div class="text-center">
                    <div class="card-body">
                        <h5 class="card-title" id="wordpress_page_title">Wordpress History</h5>
                        <p class="card-text"> I have Experience at wordpress for approximately five years. In this
                            during time Blogs - corparate websites - e- commerce websites created and published.
                            Sometimes I worked with a team but sometimes I was only me.

                            Wordpress is easy way to create a website and publish. Because of the dasbord is very
                            simple. Also if user has experiance JavaScript - PHP - and HTML, can be more free.

                            To make local works or directly published websites is possible via wordpress. İn the future
                            I want to publish articles to help newbies in this website. Some articles may be for experts
                            :)

                            I have some ideas list already about articles thats are I will publish. Let's see what we
                            can do. But today I want to do just a page about me and my experience with wordpress.

                            You can click the links to see some websites I did. </p>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-primary col-12" id="wordpress_websites_list_button">Let's See Some Websites Created by Wordpress </button>
            <div class="list-group text-center" id="wordpress_websites_list" style="display: none;">
                <a href="https://mustafaoguzalp.com/" class="list-group-item list-group-item-action">Mustafa
                    Oguzalp</a>
                <a href="http://mareaqua.com/" class="list-group-item list-group-item-action">Mare Aqua</a>
                <a href="https://cilekzamani.com/" class="list-group-item list-group-item-action">Çilek
                    Zamanı</a>
                <a href="https://soulscienceschool.com/" class="list-group-item list-group-item-action">Soulscience
                    School</a>
                <a href="https://www.ruhbilimokulu.com/" class="list-group-item list-group-item-action">Ruhbilim
                    Okulu</a>
            </div>
        </div>

    </div>












    <!--JQUERY AND SCRİPTS-->
    
    <script src="/jquery/jquery.js"></script>
    <script src="/myscript/wordpress.js"> </script>
   
  

</body>

</html>
<!--

    I have Experience at wordpress for approximately five years. In this during time Blogs - corparate websites - e- commerce websites created and published. Sometimes I worked with a team but sometimes I was only me. 

Wordpress is easy way to create a website and publish. Because of the dasbord is very simple. Also if user has experiance JavaScript - PHP - and HTML, can be more free. 

To make local works or directly published websites is possible via wordpress. İn the future I want to publish articles to help newbies in this website.  Some articles may be for experts :)

I have some ideas list already about articles thats are I will publish. Let's see what we can do. But today I want to do just a  page about me and my experience with wordpress. 

You can click the links to see some websites I did. 
-->